.soliataire.app{
  display: flex;
  flex-direction: column;
}
.dealt-cards{
  display: flex;
}
.cards-placeholder{
border: 1px dotted black;
height: 210px;
width: 150px;
background-image: url('/public/backofcard.jpeg');
background-size: cover;
cursor: pointer;
}
.ace-column{
  border: 1px dotted black;
  height: 210px;
  width: 150px;
  margin-bottom: 50px;
  margin-right: 3px;
  cursor: pointer;
  
}
.top-box{
  display: flex;
  margin-top: 30px;
}

.deck-box{
display: flex;
margin-left: 160px;
}
.column {
  margin-right: 5px;
  width: 150px;
  height: 150px;
  position: relative;
}